<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Germania+One&display=swap" rel="stylesheet">

    <link rel="icon" href="{% static '/OJJJ-favicon.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </style>
    <title>OJJJ</title>
</head>
<body>
    <h1 class="grozny-naglowek">OJJJ</h1>
    <form class="formularz" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Użytkownik:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Zaloguj
        </button>
    </form>
</body>
</html>