<!DOCTYPE html> 
<html>
    <head>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
            $(document).ready(function() {
                $("a").attr("target", "_blank");
            });
        </script>

        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="style.css">

        <style>
            body {
              font-family: 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>
            Linki (Kocham cie skarbie - nie jest to piękne ale narazie nam wystarczy)
        </h1>
        <ul>
            <li>
                <a href = "https://drive.google.com/drive/folders/1TdEtPJ1TolcGQIc7pBif6EMUMLb9UPcZ">
                    notatki ze studiów: Jonek i Dziubas 
                </a>
            </li>

            <li>
                <a href=
                "https://drive.google.com/drive/folders/1NQ2Og6vPWwPEDO2rkSP4-U8n7uSbDU1U?usp=drive_link"> 
                notatki z wykładów dziobka (synchronizacja RIP)
                </a>
            </li>

            <li>
                <a href=
                "https://drive.google.com/drive/folders/1ODeK0fJPg4rwXHlPCif7Yu1JgAgJo8tq?usp=drive_link">
                analiza książek
                </a>
            </li>

            <li>
                <a href =
                "https://drive.google.com/drive/folders/1EBAhl_PmnDFBcucyG0MaATKW3edDw2D8?usp=sharing"> 
                biblioteczka 😎
                </a>
            </li>
        </ul>
            
        <h1>
            <a href =
            "https://docs.google.com/spreadsheets/d/1hwS9BgmvOW_Bj_pfKLrsdVHXIyU5ysbnSl7sOpPQ-U8/edit#gid=0"> 
            Zadania (to-do)
            </a>
        </h1>

        <h1>
            <a href =
            "https://docs.google.com/spreadsheets/d/11nUnbinNmjowEJhQNH6jBro8xyUa1yhWChHYk5wQMkg/edit#gid=0"> 
            Plan Jonka
            </a>
        </h1>

        <h1>
            Plan Oliwki
        </h1>
        <img src="planOliwki.png" width="700" height="500">
        
        
        <p>
            kocham cie slonko, strasznie mocno - Jonek
        </p>
        <p>
            a ja ciebie, najukochańszy ( ͡♥ 3 ͡♥) - Dziubas
        </p>
    </body>
</html>
