<!DOCTYPE html> 
{% load static %}
<html>
    <head>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Germania+One&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a target = "_self" href ="/"><h1 style="width: 100px;" class="grozny-naglowek">OJJJ</h1></a></li>
                {% for tab in tabs %}
                    <li><a style="border: 2px solid red;" target="_blank" href="{{tab.URL_link}}">{{ tab.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

       <hr style="color: red;">

        <h1>
            Plan Oliwki
        </h1>
        <img src="{% static 'planOliwki.png' %}" width="800" height="500">
        
        <h1>
            Plan Jonka
        </h1>
        <img src="{% static 'planJ.png' %}" width="800" height="500">


        <p>
            kocham cie slonko, strasznie mocno - Jonek
        </p>
        
        <p>
            a ja ciebie, najukochańszy ( ͡♥ 3 ͡♥) - Dziubas
        </p>

        <p><a target="_blank" href="/admin">Dodawanie elementów</a></p>
        <hr style="color: red;">
        <div><h2>Linki</h2></div>

            {% for site in sites %}
                <div>
                    <p><a target="_blank" href="{{site.URL_link}}">{{ site.name }}</a></p>
                </div>
            {% endfor %}
        
    </body>
</html>
