<!DOCTYPE html> 
{% load static %}
<html>
    <head>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
            $(document).ready(function() {
                $("a").attr("target", "_blank");
            });
        </script>

        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
       
        <style>
            body {
              font-family: 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="header-bar">
            <h1 class="page-title">OJJJ - Oliwia, Jan Jońcowie</h1>
        </div>
        <h1>
            <a href ="https://docs.google.com/spreadsheets/d/11nUnbinNmjowEJhQNH6jBro8xyUa1yhWChHYk5wQMkg/edit#gid=0">Plan Jonka</a>
        </h1>

        <h1>
            Plan Oliwki
        </h1>
        <img src="{% static 'planOliwki.png' %}" width="700" height="500">
        <p>
            kocham cie slonko, strasznie mocno - Jonek
        </p>
        
        <p>
            a ja ciebie, najukochańszy ( ͡♥ 3 ͡♥) - Dziubas
        </p>

        <hr>
        <div><h2>Linki</h2></div>

            {% for site in sites %}
                <div>
                    <p><a href="{{site.URL_link}}">{{ site.name }}</a></p>
                </div>
            {% endfor %}
            
        <div><h2>Zdjecia</h2></div>

            {% for photo in photos %}
                <div>
                    <img src={{photo.upload}}>
                </div>
            {% endfor %}
        
        <div><h2>Pliki</h2></div>

            {% for file in files %}
                <div>
                    <p><a href={{file.upload}}>{{ file.name }}</a></p>
                </div>
            {% endfor %}
        
    </body>
</html>
